
.head-menulist .head-menushow{z-index: -1; background-color: #fff;}
.head-menulist .head-menushow span.hmsicon{color: #333;}
.head-menulist .head-menushow i.hmsicon{background-position: -321px -923px;}
.bodytopleft-menu{display: none;}
.main{width: 1200px; margin: 10px auto; color: #999;}
.main i{display: inline-block; margin: 0 5px 2px 0;}
/*位置*/
.location{line-height: 26px; height: 26px;}
.location a{color: #999;}
/*右侧栏*/
.side{float: right; width: 178px; padding: 0 10px; border: 1px solid #f2f2f2; border-top-width: 3px;}
.self{margin-bottom: 20px; text-align: center;}
.self-logo{line-height: 14px; display: block; width: 178px; height: 69px; margin: 23px auto; color: #999;}
.self-logo img{opacity: 0; filter: alpha(opacity=0);}
.self-kefu{line-height: 29px; display: block; height: 29px; color: #333; border: 1px solid #f2f2f2; background: #fafafa;}
.self-kefu i{width: 18px; height: 14px; background-position: -323px -128px;}
.pledges{padding: 12px 0 30px 11px; color: #826c60; border-top: 1px dotted #e7e7e7;}
.pledges .li1{line-height: 28px;}
.pledges li{line-height: 24px;}
.pledges i{width: 14px; height: 14px;}
.pledges .genuine{background-position: -251px -128px;}
.pledges .returns{background-position: -275px -128px;}
.pledges .difference{background-position: -299px -128px;}
/*大图*/
.goodsimg{position: relative; z-index: 30; float: left; width: 420px;}
.bigimg{position: relative; width: 418px; height: 418px; margin-bottom: 14px; border: 1px solid #f2f2f2;}
#smallArea{position: absolute;width: 150px;height: 150px;border: 1px solid;}
.bbigimg{width: 1200px;height: 1200px;background: url() no-repeat;background-size: 1200px 1200px;position: absolute;left: 420px;top: 0;overflow: hidden;}
#bigArea{width: 600px;height: 600px; overflow: hidden;position: absolute;left: 420px;top: 0;display: none;}
.bigimg img{max-width: 418px; max-height: 418px;}
.goodsimg .previmg,
.goodsimg .nextimg{float: left; width: 10px; height: 44px; margin: 0; margin-top: 13px; cursor: pointer;}
.goodsimg .previmg{margin-right: 13px; background-position: -466px -95px;}
.goodsimg .nextimg{background-position: -466px -129px;}
.imglistbox{position: relative; float: left; overflow: hidden; width: 385px; height: 66px;}
.imglistbox ul{position: absolute; left: 0; width: 10000%;}
.imglistbox li{float: left; width: 60px; height: 64px; margin-right: 18px; border: 1px solid #e7e7e7;}
.imglistbox li.current{border: 1px solid #c00;}
.imglistbox a{font-size: 0; display: block; width: 58px; height: 58px; margin: 4px 0 0 1px; text-align: center;}
.imglistbox img{max-width: 58px; max-height: 58px;}
.share{line-height: 49px; clear: both; width: 420px; height: 49px; padding-top: 15px;}
.goodsinfo{float: left; width: 520px; padding-left: 30px;}
.goodsinfo h1{font-size: 16px; padding-bottom: 12px; color: #333;}
.pricebox{margin-left: -9px; padding: 10px 0 10px 9px; background-position: left -261px;}
.pricebox .box{min-height: 60px;}
.pricebox .box span{font-family: Arial, Helvetica, sans-serif; font-size: 16px; font-weight: bold}
.yunfei{line-height: 30px;}
.amount{height: 36px; margin-top: 11px; border: 1px dotted #d4d4d4; border-width: 1px 0;}
.amount p{line-height: 16px; float: left; width: 172px; height: 16px; margin-top: 10px; text-align: center; border-right: 1px solid #e5dfda;}
.amount p.last{border-right: none;}
.selectbox{position: relative; padding-top: 18px;}
.selectbox span{float: left;}
.colorbox .goods-color-list{float: left; width: 460px;}
.colorbox,
.sizebox{padding-bottom: 12px;}
.colorbox span{line-height: 40px;}
.colorbox li{position: relative; float: left; width: 46px; height: 46px;}
.colorbox li img{max-width: 36px; max-height: 36px;}
.colorbox li.current i{position: absolute; top: 29px; left: 29px; display: block; width: 11px; height: 11px; background-position: -135px -128px;}
.colorbox li.current a{padding: 0; border: 2px solid #c00;}
.colorbox a{font-size: 0; display: block; width: 36px; height: 36px; padding: 1px; text-align: center; border: 1px solid #bfbfbf;}
.sizebox span{line-height: 30px;}
.sizebox ul{float: left; max-width: 390px;}
.sizebox li{position: relative; float: left; height: 36px; padding-right: 6px;}
.sizebox li i{display: none; width: 14px; height: 14px; margin-right: 0; margin-left: 2px;}
.sizebox li a{line-height: 26px; float: left; height: 26px; padding: 1px 13px; color: #404040; border: 1px solid #bfbfbf;}
.sizebox li a:hover{border-color: #c00;}
.sizebox li.current i.icon{position: absolute; top: 19px; right: 6px; display: block; width: 11px; height: 11px; margin: 0; background-position: -135px -128px;}
.sizebox li.current a{padding: 0 12px; border: 2px solid #c00;}
.sumbox{line-height: 30px; height: 48px;}
.sumbox input{line-height: 28px; float: left; width: 50px; height: 28px; text-align: center; border: 1px solid #bfbfbf;}
.sumbox i{display: block; float: left; width: 30px; height: 30px; margin: 0; cursor: auto;}
.sumbox i.num-down{background-position: -95px -36px;}
.sumbox i.num-down-no{background-position: -95px -2px;}
.sumbox i.num-up{background-position: -95px -104px;}
.buttonbox .payments{line-height: 40px; position: relative; float: right; width: 80px;}
.payments i{width: 11px; height: 6px; margin-bottom: 0; margin-left: 5px; background-position: -251px -154px;}
.buttonbox a{display: block;}
.buttonbox input{font-size: 16px; float: left; width: 180px; height: 40px; margin-right: 14px;cursor: pointer;color: #fff; border: none;}
.buttonbox .bred{margin-left: 36px; background-color: #c00;}
.buttonbox .borg{background-color: #da720e;}
