<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>欢迎登录</title>
    <link rel="stylesheet" type="text/css" href="/static/css/base.css">
    <link rel="stylesheet" type="text/css" href="/static/css/layout.css">
    <link rel="stylesheet" type="text/css" href="/static/css/login.css">
    <script src="/static/js/jquery-1.12.3.js"></script>
    <script src="/static/js/jquery.cookie.js"></script>
    <script src="/static/js/user.js"></script>
</head>
<body>
    <script type="text/css">
        .form * {display: block; float: right}
        .login-area .orange-button {margin: 0}
    </script>
    <div class="login-header">
        <a href="#" class="logo"></a>
        <h1>欢迎登录</h1>
    </div>
    <div class="login-content">
        <div class="login-area">
            <a href="#" class="ad">
                <img src="images/login-ad.jpg" alt="">
            </a>
            <form class="form" action="{% url 'app:login' %}" method="post">
                {% csrf_token %}
                <p>
                    <strong>登录拍鞋平台</strong>
                    <a href="{% url 'app:register' %}">免费注册</a>
                    <span>还没有拍鞋网帐号？</span>
                </p>
                <div class="base-text username">
                    <i></i>
                    <input class="login-text" type="text" name="username" placeholder="手机号/邮箱"/>
                </div>
                <div class="v-ok">&nbsp;</div>
                <div class="base-text password">
                    <i></i>
                    <input class="login-text" type="password" name="pwd" placeholder="请输入密码"/>
                </div>
                <div class="v-ok">&nbsp;</div>
                <div class="auto-login">
                    <label for="">
                        <input type="checkbox"/>
                        下次自动登录
                    </label>
                    <a href="#">忘记密码?</a>
                    <input class="orange-button" type="submit" value="登录">
                </div>
                <div class="other-login">
                    你也可以使用以下帐号登录
                    <p>
                        <a class="qq" href="#"></a>
                        <a class="alipay" href="#"></a>
                        <a class="sina" href="#"></a>
                        <a class="renren" href="#"></a>
                        <a class="wangyi" href="#"></a>
                        <a class="xunlei" href="#"></a>
                        <a class="baidu" href="#"></a>
                        <a class="qh360" href="#"></a>
                        <a class="wechat" href="#"></a>
                        <a class="wanlitong" href="#"></a>
                    </p>
                </div>
            </form>
            <div class="wechatbox">
                <h2>用拍鞋网APP 扫码安全登录</h2>
                <img src="images/qrcodelogin.png" alt="">
                <p>
                    <a href="#">刷新二维码</a>
                    |
                    <a href="#">
                        使用帮助
                        <span>
                            <i></i>
                            扫描不上，版本过低？
                        </span>
                    </a>
                </p>
            </div>
            <div class="way">
                <a href="javascript:;"></a>
            </div>
        </div>
    </div>
    <div class="login-footer">
        Copyright © 2007-2016 Paixie.net All Rights Reserved 增值电信业务经营许可证：闽B2-20110084
    </div>
</body>
</html>