{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>拍鞋网商城首页_国内专业品牌鞋服购物网站_买鞋子 就上拍鞋网！</title>
		<link rel="stylesheet" type="text/css" href="/static/css/mainWeb-head-right.css"/>
		<link rel="stylesheet" type="text/css" href="/static/css/mainWeb-body.css"/>
        <link href="https://cdn.bootcss.com/twitter-bootstrap/3.3.6/css/bootstrap-theme.css" rel="stylesheet">

		<script type="text/javascript" src="/static/js/jquery-1.12.0.js" ></script>
		<script type="text/javascript" src="/static/js/mainWeb-head-right.js" ></script>
		<script type="text/javascript" src="/static/js/mainWeb_JSONhuoqu.js" ></script>
		<script type="text/javascript" src="/static/js/body.js"></script>
	</head>
	<body>
		<script src="https://cdn.bootcss.com/jquery/1.12.3/jquery.min.js"></script>
        <script src="https://cdn.bootcss.com/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

		<div class="mainbox">
			<!--拍鞋网侧边栏开始-->
			<div id="allrightshow">
				<div class="allrightshow_top">
					<!--1-->
					<span class="allrightshow_top_buycar">
						<a href="cart.html">
							<span class="allrightshow_top_buycar_s1"></span>
							<span class="allrightshow_top_buycar_s2">购物车</span>
							<i>0</i>
						</a>
						<div class="allrightshow_top_buycar_thing">
							<span></span>
							<p>主人主人，不要太小气嘛，多放点商品来陪伴我吧 <a href="cart.html">去挑选</a></p>
						</div>
					</span>
					
					
					<!--2-->
					<span class="allrightshow_top_favorable">
						<a href="#" class="top_a top_a11"></a>
						<div class="no_show">优惠信息</div>
					</span>
					<!--3-->
					<span class="allrightshow_top_record">
						
						<a href="#" class="top_a top_a12"></a>
						<div class="no_show">历史记录</div>
					</span>
					<!--4-->
					<span class="allrightshow_top_service">
						
						<a href="#" class="top_a top_a13"></a>
						<div class="no_show">在线客服</div>
					</span>
				</div>
				
				
				
				<div class="allrightshow_floor">
					<span class="allrightshow_floor_code">
						<div class="allrightshow_floor_code_d1">
							<a href="#"  class="top_aa"></a>
							<div class="no_show1">
							</div>
						</div>
					</span>
					<span class="allrightshow_floor_top">
						<a href="#" class="top_a15">
							<span></span>
						</a>
						<div style="overflow: hidden; left: 0px;width: 0px;">
							<div>
								返回顶部
							</div>
						</div>
					</span>
				</div>
			</div>
			<!--拍鞋网头部开始     头部分为三部分-->
			<div class="head">
				
				<!--头--第一部分-->
				<div class="head_top">
					<div class="head_topline">
						<!--左-->
						<span class="head_top_left">
							<a href="#" class="head_top_left_a1"></a>
							<span class="head_top_left_s1">您好，欢迎来拍鞋网！</span>
							<a href='{% url 'app:login' %}' class="head_top_left_a2"></a>
							<a href="register.html" target="_blank" class="head_top_left_a3">免费注册</a>
						</span>
						
						<!--右-->
						<span class="head_top_right">
							<div class="head_top_right_d1">
								<a href="cart.html" class="head_top_right_a1">
									<i class="head_top_right_a1_i"></i>
									<span class="head_top_right_a1_s1">购物车</span>
									<b class="head_top_right_a1_s2">0</b>
								</a>
								<div class="head_top_right_go">
									<p>您还没有购买任何商品，快去挑选把！</p>
								</div>
							</div>
							
							<b class="head_top_right_b">|</b>
							
							<div class="head_top_right_d2">
								<a href="#" class="head_top_right_a xie" id="head_top_right_a1">我的拍鞋</a><span></span>
								<ul class="head_top_right_list1" id="head_top_right_list1">
									<li><a href="#">我的拍鞋</a></li>
									<li><a href="#">我的订单</a></li>
									<li><a href="#">我的收藏</a></li>
									<li><a href="#">我的优惠券</a></li>
								</ul>
							</div>	
							<b class="head_top_right_b">|</b>
							
							
							<a href="#" class="head_top_right_a message">消息</a>
							<b class="head_top_right_b">|</b>
							
							<a href="#" class="head_top_right_a jl">会员俱乐部</a>
							<b class="head_top_right_b">|</b>
							
							<div class="head_top_right_d3">
								<a href="#" class="head_top_right_a web">网站导航</a><span></span>
								<ul class="head_top_right_list2">
									<li><a href="#">网站导航</a></li>
									<li><a href="#">商家入驻</a></li>
									<li><a href="#">了解拍鞋</a></li>
									<li><a href="#">拍鞋公益</a></li>
									<li><a href="#">网站地图</a></li>
									<li><a href="#">新手帮助</a></li>
								</ul>
							</div>
							<b class="head_top_right_b">|</b>
						</span>
					</div>
				</div>
				
				<!--头--第二部分-->
				<div class="head_logo">
					
						<a href="#" class="head_logo_a1"></a>
						
						<div>
							<a href="#" class="head_logo_a2">
								<img src="img/smoll-log/1473133036c7a427.gif" class="head_logo_i"/>
							</a>
						</div>
						
						<from class="head_logo_from">
							<input type="text" class="head_logo_text" />
							<input type="submit" class="head_logo_submit" value="搜 索" />
						</from>
						<div class="head_logo_div">
							<a href="#" class="T">9周年返场</a>
							<a href="#">跑步鞋</a>
							<a href="#">男士凉鞋</a>
							<a href="#" class="T">女式凉鞋</a>
							<a href="#">小白鞋</a>
							<a href="#" class="T">百搭T恤</a>
							<a href="#">品牌特卖</a>
						</div>
				</div>
				
				<!--头--第三部分-->
				<div class="head_nav">
					<div class="head_nav_commodity">
						<span></span>
						<b>全部商品分类</b>
					</div>
					<div class="head_nav_click">
						<a href="#">首页</a>
						<a href="#">爱团购</a>
						<a href="#">闪购</a>
						<a href="#">今日特价</a>
					</div>
					
					
					<a  class="head_nav_code" href="#">
						<img src="img/imgs/146889818266366c.jpg"/>
					</a>
				</div>
				
				<!--<div class="scrollbgbox">
		            <div class="usershow-login">
		                <span class="scrollloginout">
		                    <a href="#" class="scrollcart">
		                        查看购物车
		                        <b>0</b>
		                    </a>
		                    <a href="login.html">登录</a>
		                    <i>|</i>
		                    <a href="register.html">注册</a>
		                </span>
		                <span class="scrollloginin">
		                    <a href="#" class="scrollcart">
		                        查看购物车
		                        <b>0</b>
		                    </a>
		                    <a href="#"></a>
		                </span>
		            </div>
        </div>-->
			</div>
			
			
			<!--拍鞋网主体开始-->
			<div id="body_box">
				<div id="body">
					<!--首页第一屏-->
					<div class="body_one">
						<div class="body_one_left">
							<ul class="body_one_left_ul">
								<li class="body_one_left_ul_l1">
									<span> <b></b> <h2><a href="#">运动馆</a></h2> </span> <p><a href="#">板鞋</a> <a href="#">跑步鞋</a> <a href="#">休闲鞋</a> <a href="#">篮球鞋</a></p>
									<div class="show_navbox">
							<div class="nav_right">
								<a href="javascript:;" class="closebtn"></a>
								<span class="nav_img"><a href="http://guronglu.paixie.net/#yun" title=""><img class="slideup" src="img/new/i1.jpg" truesrc="http://img-cdn2.paixie.net/newspic/20160808/1470638655fe8292.jpg" alt=""></a></span>
							</div>
							<div class="nav_left">
																								<h3>运动鞋</h3>
								<span>
																		<a href="http://www.paixie.net/p-m000001s000028_1.html#yun">跑步鞋</a>
									 									<a href="http://www.paixie.net/p-m000001s000025_1.html#yun">板鞋</a>
									 									<a href="http://www.paixie.net/p-m000001s000014_1.html#yun">篮球鞋</a>
									 									<a href="http://www.paixie.net/p-m000001s000022_1.html#yun">运动休闲鞋</a>
									 									<a href="http://www.paixie.net/p-m000001s000055_1.html#yun">综训鞋</a>
									 									<a href="http://www.paixie.net/p-m000001s000064_1.html#yun">帆布鞋</a>
									 									<a href="http://www.paixie.net/p-m000001s000007_1.html#yun">足球鞋</a>
									 									<a href="http://www.paixie.net/p-m000001s000029_1.html#yun">网球鞋</a>
									 									<a href="http://www.paixie.net/p-_复古鞋__1.html#yun">复古鞋</a>
									 								</span>
																 																<h3>运动服</h3>
								<span>
																		<a href="http://www.paixie.net/p-m000178s000184_1.html#yun">运动T恤</a>
									 									<a href="http://www.paixie.net/p-m000178s000192_1.html#yun">运动POLO衫</a>
									 									<a href="http://www.paixie.net/p-m000178s000185_1.html#yun">卫衣套头衫</a>
									 									<a href="http://www.paixie.net/p-m000178s000191_1.html#yun">运动套装</a>
									 									<a href="http://www.paixie.net/p-m000178s000186_1.html#yun">运动风衣</a>
									 									<a href="http://www.paixie.net/p-m000178s000187_1.html#yun">夹克</a>
									 									<a href="http://www.paixie.net/p-m000178s000195_1.html#yun">短裤</a>
									 								</span>
																 																<h3>潮流运动</h3>
								<span>
																		<a href="http://www.paixie.net/p-m0001_1.html#yun">运动鞋</a>
									 									<a href="http://www.paixie.net/originals/#yun">三叶草</a>
									 									<a href="http://www.paixie.net/p-m000217s000228_1.html#yun">潮流包包</a>
									 									<a href="http://www.paixie.net/p-adidas__m000001_1.html#url:/p-adidas__m000001_id_1.html#yun">阿迪新款</a>
									 									<a href="http://www.paixie.net/p-nikePXnike360PXerke_阿甘__1.html#yun#yun">阿甘系列</a>
									 									<a href="http://www.paixie.net/forbid/p-__23879_de;1.html#yun">AIR MAX</a>
									 									<a href="http://www.paixie.net/forbid/p-nike__m000001_1.html#yun">耐克爆款</a>
									 								</span>
																 																<h3>运动配件</h3>
								<span>
																		<a href="http://www.paixie.net/p-__m000435s000449_sd_1.html#yun">瑜伽用品</a>
									 									<a href="http://www.paixie.net/p-m000217s000228_1.html#yun">双肩背包</a>
									 									<a href="http://www.paixie.net/p-m000217s000228_1.html#yun">单肩包</a>
									 									<a href="http://www.paixie.net/p-m000217s000237_1.html#yun">运动袜子</a>
									 									<a href="http://www.paixie.net/p-m000217s000240_1.html#yun">运动帽</a>
									 									<a href="http://www.paixie.net/p-m000217s000241_1.html#yun">运动护具</a>
									 									<a href="http://www.paixie.net/p-m000217s000224_1.html#yun">休闲包</a>
									 									<a href="http://www.paixie.net/p-m000217s000229_1.html#yun">手套</a>
									 								</span>
																 																<h3>价格搜索区间</h3>
								<span>
																		<a href="http://www.paixie.net/p-__m000001p00001z__1.html#yun">0-99</a>
									 									<a href="http://www.paixie.net/p-__m000001p01A037_de_1.html#yun">100-199</a>
									 									<a href="http://www.paixie.net/p-__m000001p03804H_de_1.html#yun">200-299</a>
									 									<a href="http://www.paixie.net/p-__m000001p04I06f_de_1.html#yun">300-399</a>
									 									<a href="http://www.paixie.net/p-__m000001p06g07P_de_1.html#yun">400-499</a>
									 								</span>
																 							</div>
						</div>
								</li>
								<li class="body_one_left_ul_l2"> 
									<span><b></b> <h2><a href="#">女鞋馆</a></h2> </span> <p><a href="#">秋季新品</a> <a href="#">凉鞋</a> <a href="#">单鞋</a> <a href="#">休闲鞋</a></p>
										<div class="show_navbox">
							<div class="nav_right">
								<a href="#" class="closebtn"></a>
								<span class="nav_img"><a href="http://www.paixie.net/ijoy/#yun" title=""><img class="slideup" src="img/new/i2.jpg" alt=""></a></span>
							</div>
							<div class="nav_left">
																								<h3>热销品牌</h3>
								<span>
																		<a href="http://www.paixie.net/dodi/#yun">东帝名坊</a>
									 									<a href="http://www.paixie.net/daphne/#yun">达芙妮</a>
									 									<a href="http://www.paixie.net/exull/#yun">依思Q</a>
									 									<a href="http://www.paixie.net/renben/#yun">人本</a>
									 									<a href="http://www.paixie.net/mingjiang/#yun">名将</a>
									 									<a href="http://www.paixie.net/lirenge/#yun">骊人阁</a>
									 									<a href="http://wukaka.paixie.net/#yun">巫卡卡</a>
									 									<a href="http://www.paixie.net/josiny/#yun">卓诗尼</a>
									 									<a href="http://www.paixie.net/shoebox/#yun">鞋柜</a>
									 								</span>
																 																<h3>热门推荐</h3>
								<span>
																		<a href="http://www.paixie.net/p-m000003s000013_1.html#yun">靴子</a>
									 									<a href="http://www.paixie.net/p-m000003s000161_1.html#yun">帆布鞋</a>
									 									<a href="http://www.paixie.net/forbid/p-_%E5%B0%8F%E7%99%BD%E9%9E%8B__1.html#yun">小白鞋</a>
									 									<a href="http://www.paixie.net/p-m000003s000216_1.html#yun">松糕鞋</a>
									 									<a href="http://www.paixie.net/p-_乐福鞋__1.html#yun">乐福鞋</a>
									 								</span>
																 																<h3>凉鞋</h3>
								<span>
																		<a href="http://www.paixie.net/p-__m000003s0000120013865_1.html#yun">平底</a>
									 									<a href="http://www.paixie.net/p-__m000003s0000120006648_1.html#yun">中低跟</a>
									 									<a href="http://www.paixie.net/p-__m000003s0000120006655_1.html#yun">高跟</a>
									 									<a href="http://www.paixie.net/p-__m000003s0000120006620_1.html#yun">鱼嘴</a>
									 									<a href="http://www.paixie.net/p-__m000003s0000120000981_1.html#yun">一字扣</a>
									 								</span>
																 																<h3>单鞋</h3>
								<span>
																		<a href="http://www.paixie.net/p-__m000003s0000170000069_1.html#yun">系带</a>
									 									<a href="http://www.paixie.net/p-__m000003s0000170000074_1.html#yun">套脚</a>
									 									<a href="http://www.paixie.net/p-__m000003s0000170000071_1.html#yun">拉链</a>
									 									<a href="http://www.paixie.net/p-__m000003s0000170000413_1.html#yun">休闲风</a>
									 									<a href="http://www.paixie.net/p-__m000003s0000170000418_1.html#yun">欧美风</a>
									 									<a href="http://www.paixie.net/p-__m000003s0000170000420_1.html#yun">英伦风</a>
									 								</span>
																 																<h3>休闲鞋</h3>
								<span>
																		<a href="http://www.paixie.net/p-m000003s000135_1.html#url:/p-__m000003s000135_id_1.html#yun">新品</a>
									 									<a href="http://www.paixie.net/p-__m000003s0001350000069_1.html#yun">系带</a>
									 									<a href="http://www.paixie.net/p-__m000003s0001350000074_1.html#yun">套脚</a>
									 									<a href="http://www.paixie.net/p-__m000003s0001350000071_1.html#yun">拉链</a>
									 									<a href="http://www.paixie.net/p-__m000003s0001350000075_1.html#yun">松紧带</a>
									 									<a href="http://www.paixie.net/p-__m000003s0001350000070_1.html#yun">魔术贴</a>
									 								</span>
																 																<h3>价格搜索区间</h3>
								<span>
																		<a href="http://www.paixie.net/p-__m000003p00001z__1.html#yun">0-99</a>
									 									<a href="http://www.paixie.net/p-__m000003p01A037__1.html#yun">100-199</a>
									 									<a href="http://www.paixie.net/p-__m000003p03804H__1.html#yun">200-299</a>
									 									<a href="http://www.paixie.net/p-__m000003p04I06f__1.html#yun">300-399</a>
									 									<a href="http://www.paixie.net/p-__m000003p06g07P__1.html#yun">400-499</a>
									 								</span>
																 							</div>
						</div>
								</li>
								<li class="body_one_left_ul_l3"> 
									<span> <b></b> <h2><a href="#">男鞋馆</a></h2> </span> <p><a href="#">凉鞋</a> <a href="#">休闲鞋</a> <a href="#">帆布鞋</a> <a href="#">豆豆鞋</a></p>
									<div class="show_navbox">
							<div class="nav_right">
								<a href="javascript:;" class="closebtn"></a>
								<span class="nav_img"><a href="http://www.paixie.net/xkkx/#yun" title=""><img class="slideup" src="img/new/i3.jpg" truesrc="http://img-cdn2.paixie.net/newspic/20160808/1470638841917406.jpg" alt=""></a></span>
							</div>
							<div class="nav_left">
																								<h3>热销品牌</h3>
								<span>
																		<a href="http://www.paixie.net/fgn/home-0-2-0-0-0-0-1.html#yun">富贵鸟</a>
									 									<a href="http://www.paixie.net/gulaide/#yun">古莱德</a>
									 									<a href="http://www.paixie.net/aokang/#yun">奥康</a>
									 									<a href="http://www.paixie.net/mrkang/#yun">米斯康</a>
									 									<a href="http://www.paixie.net/beck/#yun">公羊</a>
									 									<a href="http://www.paixie.net/kazudi/#yun">卡足帝</a>
									 									<a href="http://www.paixie.net/bezir/home-0-0-0-0--0-1.html#yun">布拉泽</a>
									 								</span>
																 																<h3>热门推荐</h3>
								<span>
																		<a href="http://www.paixie.net/p-m000002s000091_1.html#yun">凉鞋</a>
									 									<a href="http://www.paixie.net/p-__m0000020000086_1.html#yun">新品</a>
									 									<a href="http://www.paixie.net/p-m000002s000159_1.html#yun">精品皮鞋</a>
									 									<a href="http://www.paixie.net/p-m000002s000119_1.html#yun">休闲鞋</a>
									 									<a href="http://www.paixie.net/p-m000002s000134_1.html#yun">拖鞋</a>
									 									<a href="http://www.paixie.net/p-m000002s000105_1.html#yun">增高鞋</a>
									 								</span>
																 																<h3>凉鞋</h3>
								<span>
																		<a href="http://www.paixie.net/p-__m000002s0000910006619_1.html#yun">露趾</a>
									 									<a href="http://www.paixie.net/p-__m000002s0000910006551_1.html#yun">头层牛皮</a>
									 									<a href="http://www.paixie.net/p-__m000002s0000910000070_1.html#yun">魔术贴</a>
									 									<a href="http://www.paixie.net/p-__m000002s0000910000075_1.html#yun">松紧带</a>
									 								</span>
																 																<h3>休闲鞋</h3>
								<span>
																		<a href="http://www.paixie.net/p-__m000002s0001190000069_1.html#yun">系带</a>
									 									<a href="http://www.paixie.net/p-__m000002s00011900000740000086_1.html#yun">套脚</a>
									 									<a href="http://www.paixie.net/forbid/p-_%E8%8B%B1%E4%BC%A6%E4%BC%91%E9%97%B2%E9%9E%8B__1.html#yun">英伦风</a>
									 								</span>
																 																<h3>精品皮鞋</h3>
								<span>
																		<a href="http://www.paixie.net/p-__m000002s0001590000127_1.html#yun">软面皮</a>
									 									<a href="http://www.paixie.net/p-__m000002s0001590000918_1.html#yun">车缝线</a>
									 									<a href="http://www.paixie.net/p-__m000002s0001590000920_1.html#yun">皮革拼接</a>
									 									<a href="http://www.paixie.net/p-__m000002s0001590000116_1.html#yun">平跟</a>
									 									<a href="http://www.paixie.net/p-__m000002s0001590000893_1.html#yun">内增高</a>
									 									<a href="#yun"></a>
									 									<a href="#yun"></a>
									 									<a href="#yun"></a>
									 								</span>
																 																<h3>价格搜索区间</h3>
								<span>
																		<a href="http://www.paixie.net/p-__m000002p00001z__1.html#yun">0-99</a>
									 									<a href="http://www.paixie.net/p-__m000002p01A037__1.html#yun">100-199</a>
									 									<a href="http://www.paixie.net/p-__m000002p03804H__1.html#yun">200-299</a>
									 									<a href="http://www.paixie.net/p-__m000002p04I06f__1.html#yun">300-399</a>
									 									<a href="http://www.paixie.net/p-__m000002p06g07P__1.html#yun">400-499</a>
									 								</span>
																 							</div>
						</div>
								</li>
								<li class="body_one_left_ul_l4">
									<span> <b></b> <h2><a href="#">服饰馆</a></h2> </span> <p><a href="#">女装</a> <a href="#">男装</a> <a href="#">人气美裙</a> <a href="#">牛仔短裤</a></p>
									<div class="show_navbox">
							<div class="nav_right">
								<a href="javascript:;" class="closebtn"></a>
								<span class="nav_img"><a href="http://www.paixie.net/danjieshi/#yun" title=""><img class="slideup" src="img/new/i4.jpg" truesrc="http://img-cdn2.paixie.net/newspic/20160808/147063888555d774.jpg" alt=""></a></span>
							</div>
							<div class="nav_left">
																								<h3>热销品牌</h3>
								<span>
																		<a href="http://mall31196.paixie.net/#yun">泰芝郎</a>
									 									<a href="http://www.paixie.net/sxming/#yun">斯鑫明</a>
									 									<a href="http://mall31107.paixie.net/#yun">花花公子</a>
									 									<a href="http://fanzhelun.paixie.net/#yun">Qigirl</a>
									 									<a href="http://danleisi.paixie.net/#yun">丹雷斯</a>
									 									<a href="http://www.paixie.net/weiwei/#yun">唯唯</a>
									 									<a href="http://www.paixie.net/gejiani/#yun">戈佳妮</a>
									 								</span>
																 																<h3>热卖推荐</h3>
								<span>
																		<a href="http://www.paixie.net/p-m000332s000349_1.html#yun">连衣裙</a>
									 									<a href="http://www.paixie.net/p-_T恤___1.html#yun">T恤</a>
									 									<a href="http://www.paixie.net/p-m000265s000267_1.html#yun">衬衫</a>
									 									<a href="http://www.paixie.net/p-m000265s000515_1.html#yun">短裤</a>
									 									<a href="http://www.paixie.net/p-m000265s000274_1.html#yun">牛仔裤</a>
									 									<a href="http://www.paixie.net/p-m000459s000471_1.html#yun">文胸</a>
									 								</span>
																 																<h3>男装</h3>
								<span>
																		<a href="http://www.paixie.net//p-__m000265s000279_id_1.html#yun">T恤</a>
									 									<a href="http://www.paixie.net/p-m000265s000267_1.html#yun">衬衫</a>
									 									<a href="http://www.paixie.net/p-m000265s000276_1.html#yun">POLO衫</a>
									 									<a href="http://www.paixie.net/p-m000265s000266_1.html#yun">背心</a>
									 									<a href="http://www.paixie.net/p-m000265s000274_1.html#yun">牛仔裤</a>
									 									<a href="http://www.paixie.net/p-m000265s000281_1.html#yun">休闲裤</a>
									 								</span>
																 																<h3>女装</h3>
								<span>
																		<a href="http://www.paixie.net/p-m000332_1.html#yun">夏上新</a>
									 									<a href="http://www.paixie.net/p-m000332s000341_1.html#yun">衬衫</a>
									 									<a href="http://www.paixie.net/p-m000332s000359_1.html#yun">T恤</a>
									 									<a href="http://www.paixie.net/p-__m000332s000340_1.html#yun">半身裙</a>
									 									<a href="http://www.paixie.net/p-__m000332s000349_id_1.html#yun">连衣裙</a>
									 									<a href="http://www.paixie.net/p-m000332s000352_1.html#yun">针织衫</a>
									 									<a href="http://www.paixie.net/p-m000332s000344_1.html#yun">风衣</a>
									 								</span>
																 																<h3>春季单品</h3>
								<span>
																		<a href="http://www.paixie.net/p-m000386_1.html#url:/p-__m000386_id_1.html#yun">童装</a>
									 									<a href="http://www.paixie.net/p-m000265s000276_1.html#yun">POLO衫</a>
									 									<a href="http://www.paixie.net/p-m000265s000274_1.html#yun">牛仔裤</a>
									 									<a href="http://www.paixie.net/p-m000459s000493_1.html#yun">睡衣/家居服</a>
									 								</span>
																 							</div>
						</div>
								</li>
								<li class="body_one_left_ul_l5">
									<span> <b></b> <h2><a href="#">户外馆</a></h2> </span> <p><a href="#">登山鞋</a> <a href="#">休闲鞋</a> <a href="#">朔溪鞋</a> <a href="#">户外服</a></p>
									<div class="show_navbox">
							<div class="nav_right">
								<a href="javascript:;" class="closebtn"></a>
								<span class="nav_img"><a href="http://www.paixie.net/aleila/#yun" title=""><img class="slideup" src="img/new/i5.jpg" truesrc="http://img-cdn2.paixie.net/newspic/20160808/14706389368c669c.jpg" alt=""></a></span>
							</div>
							<div class="nav_left">
																								<h3>热卖推荐</h3>
								<span>
																		<a href="http://www.paixie.net/p-__m000006_id_1.html#yun">户外新品</a>
									 									<a href="http://www.paixie.net/p-m000006s000049_1.html#yun">登山鞋</a>
									 									<a href="http://www.paixie.net/p-m000006s000046_1.html#yun">户外休闲鞋</a>
									 									<a href="http://www.paixie.net/p-m000006s000170_1.html#yun">溯溪鞋</a>
									 									<a href="http://www.paixie.net/p-m000006s000011_1.html#yun">沙滩鞋</a>
									 									<a href="http://www.paixie.net/p-m000217_1.html#yun">户外配件</a>
									 								</span>
																 																<h3>户外服饰</h3>
								<span>
																		<a href="http://www.paixie.net/p-m000290s000303_1.html#yun">皮肤衣</a>
									 									<a href="http://www.paixie.net/p-m000290s000321_1.html#yun">速干T恤</a>
									 									<a href="http://www.paixie.net/p-m000290s000323_1.html#yun">速干裤</a>
									 									<a href="http://www.paixie.net/p-m000290s000319_1.html#yun">户外套装</a>
									 									<a href="http://www.paixie.net/p-m000435s000441_1.html#yun">泳衣</a>
									 								</span>
																 																<h3>特惠推荐</h3>
								<span>
																		<a href="http://bepure.paixie.net/#yun">宝飘旗舰店</a>
									 									<a href="http://tripolar.paixie.net/#yun">Tri-polar旗舰店</a>
									 									<a href="http://tulu.paixie.net/#yun">探拓者</a>
									 									<a href="http://www.paixie.net/mufeng/#yun">穆峰</a>
									 								</span>
																 																<h3>价格搜索区间</h3>
								<span>
																		<a href="http://www.paixie.net/p-__m000006p00001z__1.html#yun">0-99</a>
									 									<a href="http://www.paixie.net/p-__m000006p01A037__1.html#yun">100-199</a>
									 									<a href="http://www.paixie.net/p-__m000006p03804H__1.html#yun">200-299</a>
									 									<a href="http://www.paixie.net/p-__m000006p04I06f__1.html#yun">300-399</a>
									 									<a href="http://www.paixie.net/p-__m000006p06g07P__1.html#yun">400-499</a>
									 								</span>
																 							</div>
						</div>
								</li>
								<li class="body_one_left_ul_l6"> 
									<span> <b></b> <h2><a href="#">儿童馆</a></h2> </span> <p><a href="#">新品童鞋</a> <a href="#">凉鞋</a> <a href="#">运动鞋</a> <a href="#">帆布鞋</a></p>
									<div class="show_navbox">
							<div class="nav_right">
								<a href="javascript:;" class="closebtn"></a>
								<span class="nav_img"><a href="http://www.paixie.net/361children/home-0-122-0-0-0-0-1.html#yun" title=""><img class="slideup" src="img/new/i6.jpg" truesrc="http://img-cdn2.paixie.net/newspic/20160808/1470638970a8c967.jpg" alt=""></a></span>
							</div>
							<div class="nav_left">
																								<h3>热销品牌</h3>
								<span>
																		<a href="http://mimixiong.paixie.net/#yun">咪咪熊</a>
									 									<a href="http://bitelong.paixie.net/#yun">比特龙</a>
									 									<a href="http://mall31207.paixie.net/#yun">吉吉猴</a>
									 									<a href="http://www.paixie.net/p-361children_m0004_id;1.html#yun">361度</a>
									 									<a href="http://www.paixie.net/p-erke__m0004_de;1.html#yun">鸿星尔克</a>
									 								</span>
																 																<h3>热卖推荐</h3>
								<span>
																		<a href="http://www.paixie.net/p-m000004s000122_1.html#yun">凉鞋</a>
									 									<a href="http://www.paixie.net/p-_公主鞋__1.html#yun">公主鞋</a>
									 									<a href="http://www.paixie.net/p-m000004s000121_1.html#yun">儿童运动鞋</a>
									 									<a href="http://www.paixie.net/p-m000004s000124_1.html#yun">童皮鞋</a>
									 									<a href="http://www.paixie.net/p-m000004s000115_1.html#yun">学步鞋</a>
									 									<a href="http://www.paixie.net/p-__m0003860000590_1.html#yun">男童装</a>
									 									<a href="http://www.paixie.net/p-__m0003860000591_1.html#yun">女童装</a>
									 								</span>
																 																<h3>童鞋</h3>
								<span>
																		<a href="http://mall31207.paixie.net/#yun">凉鞋</a>
									 									<a href="http://www.paixie.net/p-m000004s000121_1.html#yun">运动鞋</a>
									 									<a href="http://www.paixie.net/p-m000004s000123_1.html#yun">帆布鞋</a>
									 									<a href="http://www.paixie.net/p-m000004s000124_1.html#yun">童皮鞋</a>
									 									<a href="http://www.paixie.net/p-m000004s000168_1.html#yun">亲子鞋</a>
									 									<a href="http://www.paixie.net/p-_公主鞋__1.html#yun">公主鞋</a>
									 									<a href="http://www.paixie.net/p-_全能鞋__1.html#yun">全能鞋</a>
									 								</span>
																 																<h3>童装</h3>
								<span>
																		<a href="http://www.paixie.net/p-m000386s000405_1.html#yun">T恤</a>
									 									<a href="http://www.paixie.net/p-m000386s000387_1.html#yun">衬衫</a>
									 									<a href="http://www.paixie.net/p-m000386s000403_1.html#yun">裙子</a>
									 									<a href="http://www.paixie.net/p-m000386s000406_1.html#yun">套装</a>
									 									<a href="http://www.paixie.net/p-m000386s000396_1.html#yun">裤子</a>
									 									<a href="http://www.paixie.net/p-m000386s000408_1.html#yun">外套</a>
									 								</span>
																 																<h3>价格搜索区间</h3>
								<span>
																		<a href="http://www.paixie.net/p-__m000004p00001z__1.html#yun">0-99</a>
									 									<a href="http://www.paixie.net/p-__m000004p01A037__1.html#yun">100-199</a>
									 									<a href="http://www.paixie.net/p-__m000004p03804H__1.html#yun">200-299</a>
									 								</span>
																 							</div>
						</div>
								</li>
								<li class="body_one_left_ul_l7"> 
									<span> <b></b> <h2><a href="#">箱包馆</a></h2> </span> <p><a href="#">男包</a> <a href="#">女包</a> <a href="#">旅行箱包</a> <a href="#">精品家纺</a></p>
									<div class="show_navbox">
							<div class="nav_right">
								<a href="javascript:;" class="closebtn"></a>
								<span class="nav_img"><a href="http://mall31187.paixie.net#yun" title=""><img class="slideup" src="img/new/i7.jpg" truesrc="http://img-cdn2.paixie.net/newspic/20160808/147063901133fe8e.jpg" alt=""></a></span>
							</div>
							<div class="nav_left">
																								<h3>热销品牌</h3>
								<span>
																		<a href="http://www.paixie.net/ruishijundao/#yun">瑞士军刀</a>
									 									<a href="http://www.paixie.net/ukuk/#yun">优客优可</a>
									 									<a href="http://danjue.paixie.net/#yun">丹爵</a>
									 									<a href="http://mall31187.paixie.net/#yun">代代花枳</a>
									 									<a href="http://www.paixie.net/boliyashi/#yun">柏丽雅诗</a>
									 									<a href="http://www.paixie.net/yulu/#yun">玉鹭</a>
									 									<a href="http://www.paixie.net/langsha/#yun">浪莎</a>
									 								</span>
																 																<h3>女包</h3>
								<span>
																		<a href="http://www.paixie.net/p-_女包__id_1.html#yun">上新</a>
									 									<a href="http://www.paixie.net/p-_女+钱包__id;1.html#yun">钱包</a>
									 									<a href="http://www.paixie.net/temai/5111.html#yun">手提包</a>
									 									<a href="http://www.paixie.net/temai/5109.html#yun">单肩包</a>
									 									<a href="http://www.paixie.net/p-__m000217s0002280001085_1.html#yun">双肩包</a>
									 									<a href="http://wwwhttp://www.paixie.net/p-m000177s000206_1.html#yun">旅行箱</a>
									 								</span>
																 																<h3>男包</h3>
								<span>
																		<a href="http://www.paixie.net/p-_男包__id_1.html#yun">新品</a>
									 									<a href="http://www.paixie.net/p-m000217s000236_1.html#yun">腰包</a>
									 									<a href="http://www.paixie.net/p-_男钱包__1.html#yun">钱包</a>
									 									<a href="http://www.paixie.net/p-_男商务包__1.html#yun">商务包</a>
									 									<a href="http://www.paixie.net/p-_男双肩包__1.html#yun">双肩包</a>
									 									<a href="http://www.paixie.net/p-m000177s000206_1.html#yun">旅行箱</a>
									 								</span>
																 							</div>
						</div>
								</li>
							</ul>
							<div class="body_one_left_div">
								<img src="img/imgs/1455774304047930.jpg"/>
							</div>
						</div>
						
						<div class="body_one_mid">
							
							<div id="body_one_mid_box">
                                {% include 'mainWeb/body_one_mid_box.html' %}
							</div>
							
							<h5>品牌活动</h5>
							
							<div id="body_one_mid_3" class="aaa">
							</div>
							
							<div id="body_one_mid_4" class="aaa">
								
							</div>
						</div>
								
								
								
						<div class="body_one_right">
							<div class="body_one_right_top">
								<a href="#"><i class="body_one_right_top_1"></i><b>会员专享</b></a>
								<a href="#"><i class="body_one_right_top_2"></i> <b>领券</b></a>
								<a href="#"><i class="body_one_right_top_3"></i> <b>去抽奖</b></a>
							</div>
							
							<div class="body_one_right_mid1">
								<p class="p1"><span>拍鞋快报</span>  <a href="#" class="a1">更多></a></p>
								<p><a href="#">【公告】客服排班调整</a></p>
								<p><a href="#">【特卖】运动专场，2折起
									</a></p>
								<p><a href="#">【活动】915欢乐购，新品5折封顶！</a></p>
							</div>
							
							<div class="body_one_right_mid2">
								<img src="img/imgs/147268997685ec64.jpg"/>
							</div>
							
							
							<div class="body_one_right_mid3">
								<a href="#">推荐店铺</a>
								<a href="#">热销品牌</a>
								<b id="mid3_b"></b>
							</div>
							
							<div id="body_one_right_mid4" class="aaa">
							</div>
							
							<div id="body_one_right_mid5" class="aaa">
							</div>
							
						</div>
					</div>
					
					<!--首页  爱团购-->
					<div class="body_love">
						<div class="body_love_nav">
							<h2><a href="#">爱团购</a></h2>
							<h3><a href="#" class="body_love_nav_a1">精品推荐</a><a href="#" class="body_love_nav_a2"><b></b>最新上架</a><i></i></h3>
							<h5><a href="#">换一批</a></h5>
						</div>
						<ul id="love1" class="body_love_list">
							<li class="bbb"></li>
							<li class="bbb"></li>
							<li class="bbb"></li>
							<li class="bbb"></li>
							<li class="bbb"></li>
							<li class="bbb"></li>
						</ul>
						<ul id="love2" class="body_love_list">
							<li class="bbb"></li>
							<li class="bbb"></li>
							<li class="bbb"></li>
							<li class="bbb"></li>
							<li class="bbb"></li>
							<li class="bbb"></li>
						</ul>
						
					</div>
					
					<!--首页 户外|运动-->
					<div class="body_out fid">
						<div class="body_out_nav">
							<i class="body_out_nav_i1">F1</i>
							<h2>运动 <i>|</i>户外</h2>
							<span><a href="#">运动鞋</a> <a href="#">运动服</a> <a href="#">户外热卖</a> <b></b></span>
							<a href="#" class="body_out_nav_a1">更多</a>
						</div >
						
						
						<div class="body_out_body">
							
							<div class="body_out_body_left">
								
								<a href="#" class="body_out_body_left_a1"></a>
								
								<div class="body_out_body_left_d1 db">
									<span class="body_out_body_left_d1_s1">热卖</span>
									
									<span  class="body_out_body_left_d1_s2">
										<a href="#">跑步鞋</a>
										<a href="#">N字鞋</a>
										<a href="#">篮球鞋</a>
										<a href="#">运动双肩包</a>
										<a href="#">AIR MAX</a>
										<a href="#">运动T恤</a>
										<a href="#">休闲鞋</a>
										<a href="#">登山鞋</a>
										<a href="#">户外鞋</a>
									</span>
									
									<a  class="body_out_body_left_d1_a1">
										<i></i>	
									</a>
								</div>
								
								<div class="body_out_body_left_d2">
									<span class="body_out_body_left_d2_s1">特色</span>
									<span class="body_out_body_left_d2_s2">
										<a href="#">减震</a>
										<a href="#">防滑</a>
										<a href="#">耐磨</a>
										<a href="#">透气</a>
										<a href="#">缓冲</a>
										<a href="#">气垫</a>
										<a href="#">反绒皮</a>
									</span>
								</div>
							</div>
							
							
							
							<div class="body_out_body_right">
								
								<div class="body_out_body_right_d1">
									<ul id="d1_list1" class="ccc"></ul>
									<ul id="d1_list2" class="ccc"></ul>
									<ul id="d1_
										list3" class="ccc"></ul>
								</div>
								
							</div>
							
							<div class="body_out_body_foot">
								<a href="#"></a>
								<a href="#"></a>
								<a href="#"></a>
								<a href="#"></a>
								<a href="#"></a>
								<a href="#"></a>
								<a href="#"></a>
								<a href="#"></a>
								<a href="#"></a>
								<a href="#"></a>
								<a href="#"></a>
							</div>
							
						</div>
						
						
						<div class="body_out_foot">
							
						</div>
					</div>
					
					<!--女鞋|女装-->
					<div class="body_girl fid">
						<div class="body_girl_nav">
							<i class="body_girl_nav_i1">F2</i>
							<h2>女鞋<i>|</i>女装</h2>
							<span><a href="#">人气凉鞋</a> <a href="#">热销单鞋</a> <a href="#">时尚女装</a> <b></b></span>
							<a href="#" class="body_girl_nav_a1">更多</a>
						</div >
						
						
						<div class="body_girl_body">
							
							<div class="body_girl_body_left">
								
								<a href="#" class="body_girl_body_left_a1"></a>
								
								<div class="body_girl_body_left_d1 db">
									<span class="body_girl_body_left_d1_s1">热卖</span>
									
									<span  class="body_girl_body_left_d1_s2">
										<a href="#">凉鞋</a>
										<a href="#">单鞋</a>
										<a href="#">休闲鞋</a>
										<a href="#">松糕鞋</a>
										<a href="#">连衣裙</a>
										<a href="#">T恤</a>
										<a href="#">短裤</a>
										<a href="#">牛仔裤</a>
									</span>
									
									<a class="body_girl_body_left_d1_a1">
										<i></i>	
									</a>
								</div>
								
								<div class="body_girl_body_left_d2">
									<span class="body_girl_body_left_d2_s1">特色</span>
									<span class="body_girl_body_left_d2_s2">
										<a href="#">高跟</a>
										<a href="#">平底</a>
										<a href="#">套脚</a>
										<a href="#">内增高</a>
										<a href="#">魔术贴</a>
										<a href="#">拉链</a>
										<a href="#">布面</a>
									</span>
								</div>
							</div>
							
							
							
							<div class="body_girl_body_right">
								
								<div class="body_girl_body_right_d1">
									<ul id="d2_list1" class="ddd"></ul>
									<ul id="d2_list2" class="ddd"></ul>
									<ul id="d2_list3" class="ddd"></ul>
								</div>
								
							</div>
							
							<div class="body_girl_body_foot">
								<a href="#"></a>
								<a href="#"></a>
								<a href="#"></a>
								<a href="#"></a>
								<a href="#"></a>
								<a href="#"></a>
								<a href="#"></a>
								<a href="#"></a>
								<a href="#"></a>
								<a href="#"></a>
								<a href="#"></a>
							</div>
							
						</div>
						
						
						<div class="body_girl_foot">
							
						</div>
					</div>
					
					<!--男鞋|男装-->
					<div class="body_boy fid">
						<div class="body_boy_nav">
							<i class="body_boy_nav_i1">F3</i>
							<h2>男鞋<i>|</i>男装</h2>
							<span><a href="#">休闲鞋</a> <a href="#">型格凉鞋</a> <a href="#">热卖男装</a> <b></b></span>
							<a href="#" class="body_boy_nav_a1">更多</a>
						</div >
						
						
						<div class="body_boy_body">
							
							<div class="body_boy_body_left">
								
								<a href="#" class="body_boy_body_left_a1"></a>
								
								<div class="body_boy_body_left_d1">
									<span class="body_boy_body_left_d1_s1">热卖</span>
									
									<span  class="body_boy_body_left_d1_s2">
										<a href="#">正装皮鞋</a>
										<a href="#">休闲鞋</a>
										<a href="#">凉鞋</a>
										<a href="#">懒人鞋</a>
										<a href="#">帆布鞋</a>
										<a href="#">衬衫</a>
									</span>
									
									<a class="body_boy_body_left_d1_a1">
										<i></i>	
									</a>
								</div>
								
								<div class="body_boy_body_left_d2">
									<span class="body_boy_body_left_d2_s1">特色</span>
									<span class="body_boy_body_left_d2_s2">
										<a href="#">系带</a>
										<a href="#">套脚</a>
										<a href="#">拉链</a>
										<a href="#">正装</a>
										<a href="#">休闲</a>
										<a href="#">反绒皮</a>
										<a href="#">迷彩</a>
									</span>
								</div>
							</div>
							
							
							
							<div class="body_boy_body_right">
								
								<div class="body_boy_body_right_d1">
									<ul id="d3_list1" class="eee"></ul>
									<ul id="d3_list2" class="eee"></ul>
									<ul id="d3_list3" class="eee"></ul>
								</div>
								
							</div>
							
							<div class="body_boy_body_foot">
								<a href="#"></a>
								<a href="#"></a>
								<a href="#"></a>
								<a href="#"></a>
								<a href="#"></a>
								<a href="#"></a>
								<a href="#"></a>
								<a href="#"></a>
								<a href="#"></a>
								<a href="#"></a>
								<a href="#"></a>
							</div>
							
						</div>
						
						
						<div class="body_boy_foot">
							
						</div>
					</div>
					
					<!--童鞋|童装-->
					<div class="body_child fid">
						<div class="body_child_nav">
							<i class="body_child_nav_i1">F4</i>
							<h2>童鞋 <i>|</i>童装</h2>
							<span><a href="#">潮童风采</a> <a href="#">运动鞋</a><b></b></span>
							<a href="#" class="body_child_nav_a1">更多</a>
						</div >
						
						
						<div class="body_child_body">
							
							<div class="body_child_body_left">
								
								<a href="#" class="body_child_body_left_a1"></a>
								
								<div class="body_child_body_left_d1">
									<span class="body_child_body_left_d1_s1">热卖</span>
									
									<span  class="body_child_body_left_d1_s2">
										<a href="#">休闲鞋</a>
										<a href="#">运动鞋</a>
										<a href="#">公主鞋</a>
										<a href="#">宝宝鞋</a>
										<a href="#">衬衫</a>
										<a href="#">帆布鞋</a>
									</span>
									
									<a class="body_child_body_left_d1_a1">
										<i></i>	
									</a>
								</div>
								
								<div class="body_child_body_left_d2">
									<span class="body_child_body_left_d2_s1">特色</span>
									<span class="body_child_body_left_d2_s2">
										<a href="#">柳钉</a>
										<a href="#">卡通</a>
										<a href="#">拼接</a>
										<a href="#">斗篷</a>
										<a href="#">魔术贴</a>
										<a href="#">水钻</a>
										<a href="#">绣花</a>
									</span>
								</div>
							</div>
							
							
							
							<div class="body_child_body_right">
								
								<div class="body_child_body_right_d1">
									<ul id="d4_list1" class="fff"></ul>
									<ul id="d4_list2" class="fff"></ul>
									<ul id="d4_list3" class="fff"></ul>
								</div>
								
							</div>
							
							<div class="body_child_body_foot">
								<a href="#"></a>
								<a href="#"></a>
								<a href="#"></a>
								<a href="#"></a>
								<a href="#"></a>
								<a href="#"></a>
								<a href="#"></a>
								<a href="#"></a>
								<a href="#"></a>
								<a href="#"></a>
								<a href="#"></a>
							</div>
							
						</div>
						
					</div>
					
					<!--箱包|家纺-->
					<div class="body_box fid">
						<div class="body_box_nav">
							<i class="body_box_nav_i1">F5</i>
							<h2>箱包 <i>|</i>家纺</h2>
							<span><a href="#">魅力女包</a> <a href="#">床上用品</a> <b></b></span>
							<a href="#" class="body_box_nav_a1">更多</a>
						</div >
						
						
						<div class="body_box_body">
							
							<div class="body_box_body_left">
								
								<a href="#" class="body_box_body_left_a1"></a>
								
								<div class="body_box_body_left_d1">
									<span class="body_box_body_left_d1_s1">热卖</span>
									
									<span  class="body_box_body_left_d1_s2">
										<a href="#">旅行箱</a>
										<a href="#">单肩包</a>
										<a href="#">双肩包</a>
										<a href="#">商务包</a>
										<a href="#">钱包</a>
										<a href="#">四件套</a>
										<a href="#">蚊帐</a>
									</span>
									
									<a class="body_box_body_left_d1_a1">
										<i></i>	
									</a>
								</div>
								
								<div class="body_box_body_left_d2">
									<span class="body_box_body_left_d2_s1">特色</span>
									<span class="body_box_body_left_d2_s2">
										<a href="#">格子</a>
										<a href="#">复古</a>
										<a href="#">荷叶边</a>
										<a href="#">商务</a>
										<a href="#">学院</a>
										<a href="#">欧美</a>
										<a href="#">卡通</a>
									</span>
								</div>
							</div>
							
							
							
							<div class="body_box_body_right">
								
								<div class="body_box_body_right_d1">
									<ul id="d5_list1" class="ggg"></ul>
									<ul id="d5_list2" class="ggg"></ul>
									<ul id="d5_list3" class="ggg"></ul>
								</div>
								
							</div>
							
							<div class="body_box_body_foot">
								<a href="#"></a>
								<a href="#"></a>
								<a href="#"></a>
								<a href="#"></a>
								<a href="#"></a>
								<a href="#"></a>
								<a href="#"></a>
								<a href="#"></a>
								<a href="#"></a>
								<a href="#"></a>
								<a href="#"></a>
							</div>
							
						</div>
						
					</div>
					
					<!--品牌入驻，拍鞋影响力，媒体报道，品牌咨询-->
					<div class="body_other">
						<!--品牌入驻-->
						<div class="body_other_brandcome">
							<h2>品牌入驻</h2>
							<a href="#"><img src="img/smoll-log/1464839020c76352.jpg"/></a>
						</div>
						
						<!--拍鞋影响力-->
						<div class="body_other_influence">
							<h2>拍鞋影响力</h2>
							<a href="#" class="body_other_influence_a1" id="as1">
								<p> 拍鞋融资</p>
							</a>
							<a href="#" class="body_other_influence_a1" id="as2">
								<p>拍鞋网首届“光脚节”百名上班族光脚释放压力</p>
							</a>
							<a href="#" class="body_other_influence_a1" id="as3">
								<p>福建省电商龙头企业发展现状 ——访拍鞋网（福建）网络科技有限公司CEO董欣达</p>
							</a>
							<a href="#" class="aa1"><span></span><img src="/static/img/smoll-log/146761780197629b.jpg" class=""/></a>
							<a href="#" class="aa1"><span class="aa2"></span><img src="/static/img/smoll-log/1446631838edb8df.jpg" class="img1"/></a>
							<a href="#" class="aa1"><span class="aa2"></span><img src="/static/img/smoll-log/14467060568c553c.jpg" class="img1"/></a>
						</div>
						
						<!--媒体报道-->
						<div class="body_other_media">
							<h2>媒体报道</h2>
							<a href="#" class="body_other_media_a1">
								<p> 有一种网红叫“颜好</p>
							</a>
							<ul>
								<li><a href="#" class="body_other_media_a2">问世间钱为何物，直叫英雄肝胆俱裂！</a></li>
								<li><a href="#" >今年竟没有“年三十”！你发现了吗</a></li>
								<li><a href="#" >有效解决鞋子磨脚问题的技能，必须收藏！</a></li>
								<li><a href="#" >鞋子太多不够放？一根管子搞定！</a></li>
							</ul>
						</div>
						
						<!--品牌资讯-->
						<div class="body_other_information">
							<h2 class="body_other_information_h2">品牌资讯</h2>
							<a href="#" class="body_other_information_a1"><p></p></a>
							<ul>
								<li><a href="#" class="body_other_media_a2">耐克自绑鞋带鞋先从NBA入手</a></li>
								<li><a href="#" >特步发力主攻青少年运动市场</a></li>
								<li><a href="#" >富贵鸟时尚秋冬鞋发布</a></li>
								<li><a href="#" >顾客将可以自行打造阿迪达斯运动鞋</a></li>
							</ul>
						</div>
						
					</div>
					
					<!--当季正在穿-->
					<div class="body_now">
						<div class="body_now_line">
							<span>当季正在穿</span>
						</div>
						<div class="body_now_list">
							<ul>
								<li>
									<a href="#" class="body_now_list_a1"><h5>运动馆</h5><img src="img/new/l13.jpg"/></a>
									<a href="#" class="body_now_list_a2"><span>舒适跑鞋</span><span>百搭板鞋</span><span>篮球鞋</span><span>运动服饰</span><span>帆布鞋</span><span>运动休闲鞋</span></a>
								</li>
								<li>
									<a href="#" class="body_now_list_a1"><h5>女鞋馆</h5> <img src="img/new/l8.jpg"/></a>
									<a href="#" class="body_now_list_a2"><span>女鞋上新</span><span>优雅高鞋</span><span>甜美女单</span><span>欧范休闲</span><span>百搭帆布</span><span>性感凉鞋</span></a>
								</li>
								<li>
									<a href="#" class="body_now_list_a1"><h5>男鞋馆</h5> <img src="img/new/l9.jpg"/></a>
									<a href="#" class="body_now_list_a2"><span>休闲鞋</span><span>商务皮鞋</span><span>休闲皮鞋</span><span>隐形增高</span><span>经典帆布</span><span>工装鞋</span></a>
								</li>
								<li>
									<a href="#" class="body_now_list_a1"><h5>户外馆</h5> <img src="img/new/l10.jpg"/></a>
									<a href="#" class="body_now_list_a2"><span>休闲鞋</span><span>登山鞋</span><span>徒步旅行</span><span>户外背包</span><span>溯溪鞋</span><span>户外休闲装</span></a>
								</li>
								<li>
									<a href="#" class="body_now_list_a1"><h5>儿童馆</h5> <img src="img/new/l11.jpg"/></a>
									<a href="#" class="body_now_list_a2"><span>儿童衬衫</span><span>公主鞋</span><span>运动潮鞋</span><span>童皮鞋</span><span>学步鞋</span><span>春季童装</span></a>
								</li>
								<li>
									<a href="#" class="body_now_list_a1"><h5>服饰馆</h5> <img src="img/new/l12.jpg"/></a>
									<a href="#" class="body_now_list_a2"><span>百搭T恤</span><span>连衣裙</span><span>牛仔裤</span><span>时尚箱包</span><span>型尚男装</span><span>潮流女装</span></a>
								</li>
							</ul>
						</div>
						
					</div>
					
				</div>
			</div>
			<!--拍鞋网尾部开始-->
			<div class="footer">
				<!--尾部上边-->
				<div class="footer_top">
					<ul>
						<li style="width: 234px;">
							<b class="footer_top_b one"></b><span><a href="#">正品保证 假一赔十</a></span>
						</li>
						<li style="width: 244px;">
							<b class="footer_top_b two"></b><span><a href="#">货到付款 全国范围</a></span>
						</li>
						<li style="width: 253px;">
							<b class="footer_top_b three"></b><span><a href="#">10天保值 差价返还</a></span>
						</li>
						<li style="width: 215px;">
							<b class="footer_top_b four"></b><span><a href="#">满129元包邮</a></span>
						</li>
						<li style="width: 242.5px;">
							<b class="footer_top_b five"></b><span><a href="#">15天无理由 免邮退换货</a></span>
						</li>
					</ul>
				</div>
				<!--尾部主体-->
				<div class="footer_body">
					<dl>
						<dd class="footer_body_help">
							<b>新手帮助</b>
							<span><a href="#">注册会员</a></span>
							<span><a href="#">如何购物</a></span>
							<span><a href="#">拍鞋币说明</a></span>
							<span><a href="#">优惠券说明</a></span>
						</dd>
						<dd class="footer_body_zhifu">
							<b>支付方式</b>
							<span><a href="#">支付宝快捷支付</a></span>
							<span><a href="#">网上银行支付</a></span>
							<span><a href="#">货到付款</a></span>
							<span><a href="#">运费说明</a></span>
						</dd>
						<dd class="footer_body_serve">
							<b>售后服务</b>
							<span><a href="#">退换货政策说明</a></span>
							<span><a href="#">退款详细说明</a></span>
							<span><a href="#">如何办理退换货</a></span>
						</dd>
						<dd class="footer_body_about">
							<b>关于拍鞋网</b>
							<span><a href="#">了解拍鞋网</a></span>
							<span><a href="#">商家入驻</a></span>
							<span><a href="#">联系我们</a></span>
							<span><a href="#">拍鞋招聘</a></span>
						</dd>
						<dd class="footer_body_kefu">
							<b>客服中心</b>
							<span><a href="#"></a></span>
							<p>客服电话：4008 81 82 83<br>
							售后专线：0595-83092222<br>
							服务时间：周一到周日8:30-21:00</p>
						</dd>
						<dd class="footer_body_moble">
							<b>拍鞋网客户端</b>
							<p>随时随地上拍鞋！</p>
							<span class="mcode"></span>
						</dd>
						<dd class="footer_body_weixin">
							<b>拍鞋微信</b>
							<p>查订单更快捷</p>
							<span class="pcode">
								<p class="pshare">
									<a href="#" class="pshare_a1"></a>
									<a href="#" class="pshare_a2"></a>
								</p>
							</span>
						</dd>
					</dl>
				</div>
				<!--尾部最后-->
				
				<!--加个吸顶-->
				
				
				<!--加个楼梯-->
				<div id="LoutiNav">
					<ul>
						<li class="hover"><span>运动户外</span> </li>
						<li><span>女鞋女装</span> </li>
						<li><span>男鞋男装</span> </li>
						<li><span>童鞋童装</span> </li>
						<li><span>箱包家纺</span> </li>
					</ul>
				</div>
				
					
					<div class="foot_copyright"><span>Copyright <i>©</i> 2007-2016 Paixie.net All Rights Reserved 闽B2-20110084</span></div>
					<div class="foot_linkText"><div class="dolinkshow" id="dolinkshow" data-key="0"></div><b>友情链接</b>：
					<a href="http://www.cunan.com" target="_blank" >伊宅购村安商城</a>
					<a href="http://www.91lai.com" target="_blank" >代购</a>
					<a href="http://www.laobiao.com" target="_blank" >江西老表网</a>
					<a href="http://www.hbrc.com/" target="_blank" >石家庄招聘</a>
					<a href="http://www.shelive.net/" target="_blank" >穿衣搭配网</a>
					<a href="http://www.bloves.com/" target="_blank" >钻戒</a>
					<a href="http://www.gougoujp.com/" target="_blank" >雅虎日本</a>
					<a href="http://www.waibotu.com/" target="_blank" >返利网</a>
					<a href="http://www.easeeyes.com" target="_blank" >美瞳</a>
					<a href="http://www.qqqnm.com" target="_blank" >海淘攻略</a>
					<a href="http://www.258.com/" target="_blank" >258企业服务平台</a>
					<a href="http://www.letao-cn.com/" target="_blank" >日本代购</a>
					<a href="http://www.99114.com" target="_blank" >B2B电子商务</a>
					<a href="http://www.jihaoba.com" target="_blank" >手机靓号网</a>
					<a href="http://www.paixie.net/zhishi/" target="_blank" >拍鞋百科</a>
					<a href="http://www.geihui.com" target="_blank" >给惠网</a>
					<a href="http://www.vmall.com/" target="_blank" >华为商城</a>
					<a href="http://www.wbiao.cn" target="_blank" >万表网官网</a>
					<a href="http://www.nahuo.com/" target="_blank" >服装批发</a>
					<a href="http://www.aiuw.com/" target="_blank" >装修</a>
					<a href="http://www.zhe800.com/" target="_blank" >9.9包邮</a>
					<a href="http://www.xbiao.com" target="_blank" >手表品牌大</a>
					<a href="http://www.eelly.com/" target="_blank" >衣联网</a>
					<a href="http://www.wed114.cn/" target="_blank" >婚纱摄影</a>
					<a href="http://www.ef43.com.cn" target="_blank" >中国丽人网</a>
					<a href="http://www.quanmama.com/" target="_blank" >优惠券网站</a>
					<a href="http://www.city8.com" target="_blank" >中国街景地图 </a>
					<a href="http://www.chinapp.com/" target="_blank" >中国品牌网</a>
					<a href="http://www.99wed.com/" target="_blank" >婚纱摄影</a>
					<a href="http://www.51sole.com/" target="_blank" >搜了网</a>
					<a href="http://www.juanpi.com/" target="_blank" >卷皮折扣</a>
					<a href="http://www.zhidiy.com" target="_blank" >纸艺网</a>
					<a href="http://www.liebiao.com/" target="_blank" >分类信息网</a>
					<a href="http://hzp.onlylady.com/" target="_blank" >化妆品品牌大全</a>
					<a href="http://www.jufengshang.com" target="_blank" >手表网</a>
					<a href="http://www.taofen8.com/" target="_blank" >淘粉吧</a>
					<a href="http://www.bestb2b.com/" target="_blank" >志趣网</a>
					<a href="http://www.jiukuaiyou.com/" target="_blank" >九块邮</a>
					<a href="http://www.darryring.com/" target="_blank" >DR</a>
					<a href="http://www.cnxz.cn/" target="_blank" >中国鞋网</a>
					<a href="http://www.shoes.net.cn/" target="_blank" >环球鞋网</a>
					<a href="http://www.liwuyou.com/" target="_blank" >生日礼物网</a>
					<a href="http://www.moonbasa.com/" target="_blank" >品牌女装</a>
					<a href="http://www.xbaixing.com/" target="_blank" >百姓网</a>
					<a href="http://www.huangye88.com" target="_blank" >中国供求信息网</a>
					<a href="http://www.tnc.com.cn/" target="_blank" >纺织网 </a>
					<a href="http://www.234.cn/" target="_blank" >儿童玩具</a>
					<a href="http://www.kidsnet.cn/" target="_blank" >童装加盟网</a>
					<a href="http://www.7dapei.com/" target="_blank" > 穿衣搭配网</a>
					<a href="http://www.efu.com.cn/ " target="_blank" >中国服装网</a>
					<a href="http://www.1688ru.com" target="_blank" >中亚商务网</a>
					<a href="http://www.longfeng.com/" target="_blank" >龙凤商城</a>
					<a href="http://www.chinaleather.org/" target="_blank" >中国皮革网</a>
					<a href="http://www.sodao.com" target="_blank" >免费试用</a>
					<a href="http://www.78.cn/" target="_blank" >投资开店</a>
					<a href="http://www.love616.com" target="_blank" >服饰搭配</a>
					<a href="http://www.ickd.cn/" target="_blank" rel="nofollow">爱查快递</a>
					<a href="http://www.hunt007.com/" target="_blank" >找工易</a>
					<a href="http://www.1000tuan.com/" target="_blank" >千团网</a>
					<a href="http://www.paixie.net/link.html" rel="nofollow" target="_blank">更多></a>
				</div>
					<div id="js_com-area-footer" style="display:none"></div>
				<div class="foot_linkImage">
					<a href="javascript:;" rel="nofollow" class="investment"><!-- 最具投资价值企业 --></a>
					<a href="javascript:;" rel="nofollow" class="ecommerce"><!-- 最佳电子商务网站 --></a>
					<a href="javascript:;" rel="nofollow" class="alipay"><!-- 支付宝特约商家 --></a>
					<a href="javascript:;" rel="nofollow" class="scouring"><!-- 一淘网合作商家 --></a>
					<a href="https://search.szfw.org/cert/l/CX20130326002388002822" rel="nofollow" target="_blank" class="honesty"><!-- 诚信网站 --></a>
					<a href="javascript:;" rel="nofollow" class="commerce"><!-- 福建工商网监 --></a>
					<a href="javascript:;" rel="nofollow" class="report"><!-- 12358价格举报 --></a>
				
				</div>
			
			
		</div>
	</body>
</html>
