<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>欢迎注册</title>
    <link rel="stylesheet" type="text/css" href="/static/css/base.css">
    <link rel="stylesheet" type="text/css" href="/static/css/layout.css">
    <link rel="stylesheet" type="text/css" href="/static/css/register.css">
    <script src="/static/js/jquery-1.12.3.js"></script>
    <script src="/static/js/jquery.cookie.js"></script>
    <script src="/static/js/user.js"></script>
</head>
<body>
    <div class="login-header">
        <a href="#" class="logo"></a>
        <h1>欢迎注册</h1>
    </div>
    <div class="login-content">
        <div class="register-area">
            <form class="form" action="{% url 'app:register' %}" method="post">
                {% csrf_token %}
                <div>
                    <lable>账户名：</lable>
                    <div class="base-text">
                        <input class="login-text" type="text" name="username" placeholder="邮箱/手机号" />
                    </div>
                    <span>
                        请输入邮箱/手机号
                    </span>
                </div>
                <div>
                    <lable>设置密码：</lable>
                    <div class="base-text">
                        <input class="login-text" name="pwd" type="password" />
                    </div>
                    <span>
                        6-20位字符，可使用字母、数字或符号的组合
                    </span>
                </div>
                <div>
                    <lable>确认密码：</lable>
                    <div class="base-text">
                        <input class="login-text" type="password" />
                    </div>
                    <span>
                        请再次输入密码
                    </span>
                </div>
                <div class="codearea">
                    <lable>验证码：</lable>
                    <div class="base-text base-text135">
                        <input class="login-text" type="text" placeholder="验证码"/>
                    </div>
                    <p>3324</p>

                    <span>
                        <div></div>
                    </span>
                </div>
                <div class="agreement">
                    <lable>
                        <input type="checkbox" checked/>
                        我已阅读并同意
                        <a href="#">《拍鞋服务协议》</a>
                    </lable>
                </div>
                <input class="blue-button" type="submit" value="立即注册">
            </form>
            <div class="side">
                我已有拍鞋网账户
                <br>
                现在就
                <a href="login.html">立即登录</a>
            </div>
        </div>
    </div>
    <div class="login-footer">
        Copyright © 2007-2016 Paixie.net All Rights Reserved 增值电信业务经营许可证：闽B2-20110084
    </div>
</body>
</html>